<!DOCTYPE html>
<html>
<head>
    <title>회원가입</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .btn-purple {
          background-color: #D8BFD8; /* Thistle color (lighter purple) */
          color: white;
        }
    
        .btn-purple:hover {
          background-color: #C6AEC7; /* Darkened Thistle color when hovered */
          color: white;
        }
    </style>
    
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <h1 class="text-center">회원가입</h1>
                <form id="signup-form">
                    <div class="form-group">
                        <label for="nickname">닉네임</label>
                        <input type="text" class="form-control" id="nickname" placeholder="닉네임을 입력하세요">
                        <small class="form-text text-danger" id="nickname-duplicated" style="display: none;">이미 있는 닉네임이에요🥲</small>
                    </div>
                    <div class="form-group">
                        <label for="email">이메일</label>
                        <input type="email" class="form-control" id="email" placeholder="이메일을 입력하세요">
                        <small class="form-text text-danger" id="email-error" style="display: none;">이미 가입된 이메일이에요🥲</small>
                        <button type="button" class="btn btn-purple" id="email-verification-button">인증번호 발송</button>
                    </div>
                    <div class="form-group">
                        <label for="authNum">인증번호</label>
                        <input type="text" class="form-control" id="authNum" placeholder="인증번호를 입력하세요">
                        <button type="button" class="btn btn-purple" id="verify-button">인증번호 확인</button>
                        <input type="hidden" id="certificationYN" value="false">
                    </div>
                    <div class="form-group">
                        <label for="password">비밀번호</label>
                        <input type="password" class="form-control" id="password" placeholder="비밀번호를 입력하세요">
                    </div>
                    <div class="form-group">
                        <label for="password-confirm">비밀번호 확인</label>
                        <input type="password" class="form-control" id="password-confirm" placeholder="비밀번호를 다시 입력하세요">
                    </div>
                    <button type="submit" class="btn btn-purple">회원가입</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/static/js/signup.js}" ></script>
</body>
</html>
