<!DOCTYPE html>
<html>
<head>
    <title>회원가입</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        .btn-purple {
          background-color: #D8BFD8; /* Thistle color (lighter purple) */
          color: white;
        }
    
        .btn-purple:hover {
          background-color: #C6AEC7; /* Darkened Thistle color when hovered */
          color: white;
        }
        .btn-disabled {
            background-color: #cccccc;
            cursor: not-allowed;
        }

    </style>
    
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <h1 class="text-center">회원가입</h1>
                <form id="signup-form">
                    <div class="form-group">
                        <label for="nickname">닉네임</label>
                        <input type="text" class="form-control" id="nickname" placeholder="닉네임을 입력하세요">
                        <small class="form-text text-danger" id="nickname-duplicated" style="display: none;">이미 있는 닉네임이에요🥲</small>
                    </div>
                    <div class="form-group">
                        <label for="email">이메일</label>
                        <input type="email" class="form-control" id="email" placeholder="이메일을 입력하세요">
                        <small class="form-text text-danger" id="email-error" style="display: none;">이미 가입된 이메일이에요🥲</small>
                        <button type="button" class="btn btn-purple" id="email-verification-button" disabled>인증번호 발송</button>
                    </div>
                    <div class="form-group">
                        <label for="authNum">인증번호</label>
                        <input type="text" class="form-control" id="authNum" placeholder="인증번호를 입력하세요" disabled>
                        <div id="authNum-error" class="text-danger" style="display:none;"></div>
                        <button type="button" class="btn btn-purple" id="verify-button" disabled>인증번호 확인</button>
                        <input type="hidden" id="certificationYN" value="false">
                    </div>
                    <div class="form-group">
                        <label for="password">비밀번호</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="password" placeholder="비밀번호를 입력하세요" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <small id="passwordHelp" class="form-text">비밀번호는 최소 8자, 대문자, 소문자, 숫자를 각각 1개 이상 포함해야 합니다.</small>
                        <div id="passwordMessage" class="text-danger"></div>
                    </div>
                    <div class="form-group">
                        <label for="password-confirm">비밀번호 확인</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="password-confirm" placeholder="비밀번호를 다시 입력하세요" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="toggleConfirmPassword">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <small id="confirmHelp" class="form-text">위에서 입력한 비밀번호와 동일하게 입력해주세요.</small>
                        <div id="confirmMessage" class="text-danger"></div>
                    </div>
                    <button type="submit" id="signup-button" class="btn btn-purple" disabled>회원가입</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/static/js/signup.js}" ></script>
</body>
</html>
